<!-- Footer include: place in _includes/footer.html -->
<!-- Links to GitHub, Codecademy, and repo. Uses design tokens from styles.css. -->
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footer__links" aria-hidden="false">
      <a class="footer__link" href="https://github.com/hemayilm" target="_blank" ><i class="fab fa-github"></i></a>
      <a class="footer__link" href="https://www.codecademy.com/profiles/hamayilmmmdova" target="_blank" ><i class="fab fa-code"></i></a>
      <a class="footer__link" href="https://github.com/hemayilm/hemayilm.github.io" target="_blank"><i class="fas fa-code-branch"></i></a>
    </div>

    <div class="footer__meta" aria-label="Copyright">
      &copy; {{ site.time | date: '%Y' }} {{ site.author | default: site.title | default: 'My Site' }}. All rights reserved.
    </div>
  </div>
</footer>
